.bar {
  padding-top: 7px;
  font-family: sans-serif;
  font-weight: 700;
  display: inline-block;
  color: white;
  width: 40px;
  margin-left: 6px;
  background-color: #5bc9b1;
}
.bar-sorted {
  background-color: #b979ec;
}
.bar-swap {
  background-color: #57a846;
}
.bar-min {
  background-color: red;
}

.bars-container {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling if bars exceed container width */
  white-space: nowrap; /* Prevents wrapping */
  padding: 20px 0; /* Optional: Adjust padding as needed */
  justify-content: center;
}

/* Sorting.css */

.d-flex {
  display: flex;
}

.flex-fill {
  flex: 1;
}

.border-right {
  border-right: 1px solid #ddd;
}

.container {
  padding: 15px;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
.compare-container {
  position: relative;
}
.compare-container .badge {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: medium;
}
